<%- include ('./partials/header.ejs') -%>
<div class="container">
    <% if (message) { %>
    <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (resume) { %>
    <form class="add-resume-form" action="" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="programtitle" id="programtitle"
                    placeholder="Program Title">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="schoolname" id="schoolname" placeholder="Name of School">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="dateexpierence" id="dateexpierence"
                    placeholder="Duration">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="programdescription" id="programdescription"
                    placeholder="Description of Program">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="jobtitle" id="jobtitle" placeholder="Job Title">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="organization" id="organization"
                    placeholder="Name of Organization">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="date" id="date" placeholder="date">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="skilldescription" id="skilldescription"
                    placeholder="Description of Role">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="skillcompetent" id="skillcompetent"
                    placeholder="List of Competencies">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="skilldesigned" id="skilldesigned"
                    placeholder="List of Projects">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="skillcreated" id="skillcreated"
                    placeholder="List of Projects">
            </div>
            <button type="submit" class="btn btn-success float-right">Edit Portfolio</button>
    </form>
    <% } else { %>
    <p class="text-center">Resume Item cannot be found. Go <a href="/add">here</a> to add a Resume item.</p>
    <% } %>
</div>
</div>
</body>

</html>