<%- include ('./partials/header.ejs') -%>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (portfolio) { %>
        <form class="add-portfolio-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="projectname">Project Name</label>
                    <input type="text" class="form-control" name="projectname" id="projectname" value="<%= portfolio.projectname %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Date</label>
                    <input type="text" class="form-control" name="date" id="date" value="<%= portfolio.date %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="projectPurpose">Purpose of Project</label>
                    <input type="text" class="form-control" name="projectpurpose" id="projectpurpose" value="<%= portfolio.projectpurpose %>" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="projectdescription" id="projectdescription" placeholder="Description of Project" required>
                    </div>
           
            <button type="submit" class="btn btn-success float-right">Edit Portfolio</button>
        </form>
    <% } else { %>
        <p class="text-center">Portfolio Item cannot be found. Go <a href="/add">here</a> to add a portfolio item.</p>
    <% } %>
</div>
</div>
</body>
</html>